   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">
            <% if @user %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/destroy">Logout</a></button></li>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/profile"><%= @user.username%></a></button></li>

            <% else %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/welcome/register">Register/Login</a></button></li>
     
            <% end %>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/discover/discover_shows">Discover</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>


<br><br><br><br><br><br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <div class="row col-lg-offset-3 col-lg-6">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title"><%= @this_episode.episode_name %>
                        <label class="label label-success">
                        <%= @this_episode.air_date %></label>
                    </h2>
                    <img src="<%= @this_episode.image %>" style="display: block; margin: auto; box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);"><br><br>
                    <p class="card-text">
                        <h4><label class="label label-success">
                            <i class="material-icons" style="font-size:20px; display: inline;color: yellow;">grade</i>
                            <%= @this_episode.rating %>/10
                        </label></h4>
                        <h5><label class="label label-info">
                        Episode Description</label></h5>
                        <div class="well">
                            <%= @this_episode.episode_description %>
                        </div>
                    </p>
                </div>
                <div class="list-group">
                    <a href="<%= episode_view_review_path(@this_episode.id) %>" class="list-group-item">Reviews</a>
                    <a href="<%= episode_view_rating_path(@this_episode.id) %>" class="list-group-item">Ratings</a>
                    <% if @user %>
                        <a href="<%= episode_give_review_path(@this_episode.id) %>" class="list-group-item">Give Review</a>
                        <a href="<%= episode_give_rating_path(@this_episode.id) %>" 
                        class="list-group-item">Give Rating</a>
                    <% end %>
                </div>
            </div>
    </div>
</div>