    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">
            <% if @user %>
                <script>
                    swal(
                        'Logged In',
                        'Welcome to our Website',
                        'success'
                        )
                </script>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/destroy">Logout</a></button></li>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/profile"><%= username%></a></button></li>

            <% else %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/welcome/register">Register/Login</a></button></li>
     
            <% end %>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/discover/discover_shows">Discover</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>

<br><br><br><br><br><br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <div class="season_main">
        <% @tvshow_name.each do |show| %>
            <h1><%= show.name %></h1>
            <!-- <i class="material-icons" style="font-size:20px; display: inline;">event</i> (<%= show.year %>) -->
        <% end %>
        <% @this_season.each do |season| %>
        <label style="display: inline;font-size: 20px;"><%= season.season_name %></label><i class="material-icons" style="font-size:20px; display: inline;">event</i><label style="display: inline;font-size: 15px;">(<%= season.year %>)</label>
        <img src="<%= season.image %>" style="display: block; margin: auto; box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);"><br><br>
        <b style="margin-left: 20px;">Rating : </b> 
        <i class="material-icons" style="font-size:20px; display: inline;color: yellow;">grade</i>
        <%= season.rating %>/10<br><br>
        <b style="margin-left: 20px;">Season Overview</b>
        <p style="margin-left: 20px; margin-right: 20px;">
            <%= season.season_overview %>
        </p>

        <%= link_to "Reviews", season_view_review_path(season.id) %><br>
            <% if @user %>
                <%= link_to "Give Review", season_give_review_path(season.id) %><br>
            <% end %>
        <%= link_to "Ratings", season_view_rating_path(season.id) %><br>
            <% if @user %>
                <%= link_to "Give Rating", season_give_rating_path(season.id) %><br><br>
            <% end %>
        <% end %>

        <b style="margin-left: 20px;">Episodes</b><br>
        <div class="season1">
            <% @this_episode.each do |episode| %>
            <br><div class="season_overview1">
                <a href="<%= a_episode_detail_path(episode.id) %>">
                   <b><%= episode.episode_name %></b>(<%= episode.air_date %>)
                </a><br>
                <img src="<%= episode.image %>" class="season_image">
                <p>
                    <%= episode.episode_description %>
                </p>
            </div><br>
            <% end %>
        </div><br>

    </div>