    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">
            <% if @user %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/destroy">Logout</a></button></li>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/profile"><%= @user.username%></a></button></li>

            <% else %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/welcome/register">Register/Login</a></button></li>
     
            <% end %>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/discover/discover_shows">Discover</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>

<br><br><br><br><br><br><br><br><br><br>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1><%= @rating_this_show.name %></h1>
            <p><%= @rating_this_season.season_name %></p>
            <p><%= @rating_this_episode.episode_name %></p>
        </div>
        <form crole="form" method="post" action="/session/tvshows/season/episode/rating">
            <input type="hidden" name="episodes_id" value="<%= @rating_this_episode.id %>"></input>
            <div id="shop"></div>
            <input type="hidden" id="rating" name="rating" value="0"></input>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Give Rating"></input>
            </div>
        </form>
    </div>
</div>

<!-- <script src="rating.min.js"></script> -->
<script>

  /**
   * Demo in action!
   */
  (function() {

    'use strict';

    var rated;

    // SHOP ELEMENT
    var shop = document.querySelector('#shop');

    // DUMMY DATA
    var data = [
      {
        rating: null
      }
    ];

    // INITIALIZE
    (function init() {
      for (var i = 0; i < data.length; i++) {
        addRatingWidget(buildShopItem(data[i]), data[i]);
      }
    })();

    // BUILD SHOP ITEM
    function buildShopItem(data) {
      var shopItem = document.createElement('div');

      var html =
        '<div class="c-shop-item__details">' +
          '<ul class="c-rating"></ul>' +
        '</div>';

      shopItem.classList.add('c-shop-item');
      shopItem.innerHTML = html;
      shop.appendChild(shopItem);

      return shopItem;
    }

    // ADD RATING WIDGET
    function addRatingWidget(shopItem, data) {
      var ratingElement = shopItem.querySelector('.c-rating');
      var currentRating = data.rating;
      var maxRating = 10;
      var callback = function(rating) { 
            // alert(rating);
            rated = rating;
            document.getElementById('rating').value = rated; 
        };
      var r = rating(ratingElement, currentRating, maxRating, callback);
    }

  })();

</script>