    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">
            <% if @user %>
                <script>
                    swal(
                        'Logged In',
                        'Welcome to our Website',
                        'success'
                        )
                </script>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/destroy">Logout</a></button></li>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/profile"><%= username%></a></button></li>

            <% else %>
                
                <li><a class="btn btn-default navbar-btn btn-sm"  href="/welcome/register">Register/Login</a></button></li>
     
            <% end %>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/discover/discover_shows">Discover</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>

<br><br><br><br><br><br><br><br><br><br>

<div class="view_review">
    <h3><%= @review_this_show.name %></h3>
    <h4><%= @review_this_season.season_name %></h4>
    <label>Season Reviews by users</label>
    <% @season_reviews.each do |review| %>
    <div class="user_review">
        <!-- <b>User ID: </b><%= review.users_id %><br> -->
        User: <b><%= review.username %></b><br>
        Review :<br><b>
        <div class="review_section"><p>
            <%= review.review %>
        </p></div></b>
    </div><br>
    <% end %>
</div>