<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if @user %>
                    <li>
                        <!-- <lable><%= @user.username %></lable> -->
                        <a class="page-scroll" href="/session/destroy">Logout</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/session/profile"><%= @user.username %></a>
                    </li>
                    <% else %>
                    <li>
                        <a class="page-scroll" href="/welcome/register">Register/Login</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="/discover/discover_shows">Discover</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
<!--                     <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/session/team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<br><br><br><br><br><br><br><br><br><br>

<div class="view_review">
    <h3><%= @review_this_show.name %></h3>
    <h4><%= @review_this_season.season_name %></h4>
    <form method="post" action="/session/tvshows/season/review">
        <input type="hidden" name="seasons_id" value="<%= @review_this_season.id %>"></input>
        Give review below<br>
        <textarea name="review" rows="6" cols="80" required></textarea><br>
        <input type="submit" value="Give Review"></input>
    </form>
</div>