<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <!-- <link href="css/agency.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
   <!--  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
 -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if @current_user %>
                    <li>
                        <%= @current_user.username %>
                        <a class="page-scroll" href="/session/destroy">Logout</a>
                    </li>
                    <% else %>
                    <li>
                        <a class="page-scroll" href="/welcome/register">Register/Login</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="/discover/discover_shows">Discover</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
<!--                     <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/session/team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<br><br><br><br><br><br><br><br>


<table border="3">
    <th>id</th>
    <th>season_name</th>
    <th>tvshows_id</th>
    <th>year</th>
    <th>season_overview</th>
    <th>rating</th>
    <th>image</th>
    <th>language</th>
    <th>no_episodes</th>

    <% @seasons.each do |season| %>
        <tr>
            <td><%= season.id %></td>
            <td><%= season.season_name %></td>
            <td><%= season.tvshows_id %></td>
            <td><%= season.year %></td>
            <td><%= season.season_overview %></td>
            <td><%= season.rating %></td>
            <td><%= season.image %></td>
            <td><%= season.language %></td>
            <td><%= season.no_episodes %></td>
        </tr>
    <% end %>
</table>