<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if @current_user %>
                    <li>
                        <%= @current_user.username %>
                        <a class="page-scroll" href="/session/destroy">Logout</a>
                    </li>
                    <% else %>
                    <li>
                        <a class="page-scroll" href="/welcome/register">Register/Login</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="/discover/discover_shows">Discover</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
<!--                     <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/session/team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<br><br><br><br><br><br><br><br>

<div class="container">
    <div class="row">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>id</th>
                    <th >name</th>
                    <th>categories_id</th>
                    <th>year</th>
                    <th>director</th>
                    <th>language</th>
                    <th>storyline</th>
                    <th>cast</th>
                    <th>rating</th>
                    <th>aired_on</th>
                    <th>no_seasons</th>
                    <th>image</th>
                </tr>
            </thead>
            <tbody>
                <% @tvshows.each do |show| %>
                    <tr>
                        <td><%= show.id %></td>
                        <td><%= show.name %></td>
                        <td><%= show.categories_id %></td>
                        <td><%= show.year %></td>
                        <td><%= show.director %></td>
                        <td><%= show.language %></td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt class="text-truncate">
                                    <%= show.storyline %>
                                </dt>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt class="text-truncate">
                                    <%= show.cast %>
                                </dt>
                            </dl>
                        </td>
                        <td><%= show.rating %></td>
                        <td><%= show.aired_on %></td>
                        <td><%= show.no_seasons %></td>
                        <td><%= show.image %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>