    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><br>
          <a class="navbar-brand navbar-btn" href="/session/homepage" style="font-size: 35px;">#TeleVisioExpress</a>
        </div><br>
          <ul class="nav navbar-nav navbar-right">

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/tvshows">TVShows</a></button></li>

            <li><a class="btn btn-default navbar-btn btn-sm"  href="/session/team">Team</a></button></li>
          </ul>
        </div>
      </div>
    </nav>

<br><br><br><br><br><br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<% if @count == 0 %>

<div class="container">
    <div class="row">
            <div class="alert alert-danger">
                <a href="/discover/discover_shows" class="close" data-dismiss="alert">&times</a>
                <strong>Sorry</strong> we could not find TVSHOWS belonging to this Genre from our DataBase
            </div>
    </div>
</div>

<% else %>

    <div class="container">
        <div class="row">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times</a>
                    <strong>Yes</strong> we found TVSHOWS belonging to this Genre from our DataBase
                </div>
        </div>
        <div class="row">        
            <% @shows.each do |show| %>
                <div class="card col-lg-4 col-md-3">
                    <img src="<%= show.image %>" class="card-img-top img-thumbnail" alt="<%= show.name %>" width="318px" height="180px" style="width: 100%; max-height: 180px;">
                    <div class="card-block">
                        <center><h4 class="card-title"><%= show.name %></h4></center>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="material-icons" style="font-size:15px; display: inline;  margin-left: 100px;">event</i><%= show.year %>
                            </li>
                            <li class="list-group-item">
                                <i class="material-icons" style="font-size:15px; display: inline;
                                color: yellow; margin-left: 100px;">grade</i><%= show.rating %>
                            </li>
                        </ul>
                        <div class="card-block">
                            <center><a href="/session/tvshows/<%= show.name %>" class="card-link">MORE</a></center>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
<% end %>
