<!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/reel.png" width="60px" height="60px">
                <a class="navbar-brand page-scroll" href="/session/homepage">#TeleVisioExpress</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if @user %>
                    <li>
                        <a class="page-scroll" href="/session/destroy">Logout</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/session/profile"><%= @user.username %></a>
                    </li>
                    <% else %>
                    <li>

                        <a class="page-scroll" href="/welcome/register">Register/Login</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="/session/tvshows">Tvshows</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav><br><br><br><br><br><br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<% if @count == 0 %>

<div class="container">
    <div class="row">
            <div class="alert alert-danger">
                <a href="/discover/discover_shows" class="close" data-dismiss="alert">&times</a>
                <strong>Sorry</strong> we could not find TVSHOWS belonging to this Genre from our DataBase
            </div>
    </div>
</div>

<% else %>

    <div class="container">
        <div class="row">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times</a>
                    <strong>Yes</strong> we found TVSHOWS belonging to this Genre from our DataBase
                </div>
        </div>
        <div class="row">        
            <% @shows.each do |show| %>
                <div class="card col-lg-4 col-md-3">
                    <img src="<%= show.image %>" class="card-img-top img-thumbnail" alt="<%= show.name %>" width="318px" height="180px" style="max-width: 318px; max-height: 180px;">
                    <div class="card-block">
                        <h4 class="card-title"><%= show.name %></h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="material-icons" style="font-size:15px; display: inline;  margin-left: 100px;">event</i><%= show.year %>
                            </li>
                            <li class="list-group-item">
                                <i class="material-icons" style="font-size:15px; display: inline;
                                color: yellow; margin-left: 100px;">grade</i><%= show.rating %>
                            </li>
                        </ul>
                        <div class="card-block">
                            <center><a href="/session/tvshows/<%= show.name %>" class="card-link">MORE</a></center>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
<% end %>
